
#one {
    padding: 10px;
    border: 10px solid black;
    margin: 20px
}

#two {
    padding: 10px;
    border: 10px solid black;
    margin: 20px
}

#three {
    padding: 20px;
    border: 10px solid black;
    margin: 20px
}